/* ==================================== base.html styles ======================================== */
.add-margin-top {
    margin-top:5%;
}

@media only screen and (max-device-width: 480px) {
    /* define mobile specific styles come here */
    .add-margin-top {
        margin-top:20%;
    }

    .add-margin-bottom {
        margin-top:5%;
    }
}

.add-margin-bottom {
    margin-bottom:5%;
}

body{
    background-color: rgb(242, 243, 244);
}

/* ===================================== Homepage styles ======================================== */
.navbar-default {
    font-size: 17px;
    margin: 0;
    padding: 7px;
    /*opacity: 0.5;*/
}

nav .navbar-brand {
    font-size: 20px;
}

/*change default hover on links*/
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-brand:hover {
    color: #2E3134;
}

/*change default active links*/
.navbar-default .navbar-nav> .active > a,
.navbar-default .navbar-nav> .active > a:focus,
.navbar-default .navbar-nav> .active > a:hover {

}

/*change default behaviour of jumbotron*/
.jumbotron {
    margin-bottom: 0px;
    height: 350px;
    color: white;
    background-color: #2E3134;
    border-radius: 0px !important;
}

.jumbotron .element {
    color: white;
}

.section-heading {
    color: #2E3134;
}

.hr-line {
    max-width:50px;
    border-top: 2px solid #2E3134;
}


/* ===================================== Profile styles ======================================== */
.list-group-item{
    border-radius: 0px !important;
}

.thumbnail {
    border-radius: 0px;
    box-shadow: 2px 2px 2px #D6DBDF;
    border-style: none;
    border: 0;
    color: #2E3134;
}

.thumbnail:hover {
    box-shadow: 2px 2px 2px #A6ACAF;
    border-style: none;
    border: 0;
    text-decoration: none;
}

.no_borders{
    border-radius: 0px;
}

.flask-pagedown-preview {
    margin-top: 2%;
    padding: 2%;
    background-color: white;
    box-shadow: 2px 2px 2px #D6DBDF;
}

.flask-pagedown-preview::before {
    content: "Preview:";
    font-weight: bold;
    font-size: 18;
}

.inline-headers h3, .inline-headers h5 {
  display: inline-block;
  vertical-align: baseline;
}

.inline-p p {
  display: inline-block;
  vertical-align: baseline;
}


@font-face {
  font-family: SFMono;
  src: url(static/fonts/SFMono-Regular.ttf);
}

@font-face {
  font-family: Calibre-Semibold;
  src: url(static/fonts/Calibre-Semibold.ttf);
}

.calibre {
  font-family:Calibre-Semibold;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
