{% extends "index.html" %}

{% block content %}

<div class="container">
    <h1>Your copies</h1>
    <div class="container">
        <table class="table" , id="transactions">
            <thead>
                <tr>
                    <th scope="col">Copy ID</th>
                    <th scope="col">Book title</th>
                    <th scope="col">Author</th>
                    <th scope="col">ISBN</th>
                    <th scope="col">Genre</th>
                    <th scope="col">Loan date</th>
                    <th scope="col">Fees due</th>
                    <th scope="col">Maximum fee</th>
                </tr>
            </thead>
            <tbody>
                {% for copy in copies %}
                    <tr>
                        <th scope="row">{{copy[0]}}</th>
                            <td>{{copy[1]}}</td>
                            <td>{{copy[2]}}</td>
                            <td>{{copy[3]}}</td>
                            <td>{{copy[4]}}</td>
                            <td>{{copy[5]}}</td>
                            <td>${{copy[6]}}</td>
                            <td>${{copy[7]}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
