{% extends "index.html" %}

{% block content %}
<div class = "containter">
    <h1 style="text-align: center;">Books:</h1>
    <br><br>

    <table>
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Price</th>
                <th scope="col">Author</th>
                <th scope="col">Genre</th>
                <th scope="col">Availability</th>
            </tr>
        </thead>
        <tbody>
            {% for row in value %}
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table> 
    
</div>

{% endblock %}