{% extends "index.html" %}

{% block content %}
<div class = "containter">
    <h1 style="text-align: center;">Your Copies:</h1>
    <br><br>

    <table>
        <thead>
            <tr>
                <th scope="col">Transaction ID</th>
                <th scope="col">Checkout Date</th>
                <th scope="col">Fees Due</th>
                <th scope="col">Returned</th>
                <th scope="col">Copy ID</th>
                <th scope="col">Availability</th>
            </tr>
        </thead>
        <tbody>
            {% for row in value %}
            <tr>
                <td>{{row[0]}}</td>
                <td>${{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
                <td>{{row[5]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table> 
    
</div>

<style>
    th{
        padding: 2em;
        text-align: center;
        border: solid .3em;
    }

    table{
        margin: 0 auto;
    }

    td{
        padding: 2em;
        text-align: center;
        border: solid .1em;
    }
</style>
{% endblock %}