{% extends "index.html" %}

{% block content %}
<div class=container>
  <div class="row">
    <div class="col-md-6">
      <h1 style="padding-top: 22%;font-family:Calibre-Semibold;font-size:550%;">Library Database Managament</h1>
        <h3 style="padding-right: 20%;padding-top: 10%;font-family:SFMono;">Welcome to our simple webapp to manage your library database safe and securely!</h3>
    </div>
    <div class="col-md-6">
      <img src="static/images/polygon.png" width="600" height="700">
      <img src="static/images/startup.png" width="700" height="700"style="position: absolute;bottom: 8px;">
    </div>
  </div>
</div>


{% endblock %}
